.modal.fade#startModal{role: 'dialog', :'aria-labelledby' => 'myModal', :'aria-hidden' => 'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Welcome
      .modal-body
        .actions
          %button.play.btn.btn-lg.center-block{style: 'width: 500px;height:100px;margin-top:25px;margin-bottom:25px;border:1px solid black;'} Play Game
          %button.btn.btn-lg.center-block#instructions{style: 'width: 500px;height:100px;margin-top:25px;margin-bottom:25px;border:1px solid black;'} Instructions
